In [202]:
from google.colab import drive
drive.mount("/content/gdrive")

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [203]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.tree import DecisionTreeClassifier

In [210]:
train_path = '/content/gdrive/MyDrive/LOC/jobclassinfo2.csv'
train_df = pd.read_csv(train_path)
train_df

,ID,JobFamily,JobFamilyDescription,JobClass,JobClassDescription,PayGrade,EducationLevel,Experience,OrgImpact,ProblemSolving,Supervision,ContactLevel,FinancialBudget,PG
0,1,1,Accounting And Finance,1,Accountant I,5,3,1,3,3,4,3,5,PG05
1,2,1,Accounting And Finance,2,Accountant II,6,4,1,5,4,5,7,7,PG06
2,3,1,Accounting And Finance,3,Accountant III,8,4,2,6,5,6,7,10,PG08
3,4,1,Accounting And Finance,4,Accountant IV,10,5,5,6,6,7,8,11,PG10
4,5,2,Administrative Support,5,Admin Support I,1,1,0,1,1,1,1,1,PG01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,62,15,Systems Analyst,62,Systems Analyst I,3,1,1,1,2,1,1,1,PG03
62,63,15,Systems Analyst,63,Systems Analyst II,5,4,1,3,3,4,3,4,PG05
63,64,15,Systems Analyst,64,Systems Analyst III,6,5,2,4,4,5,7,5,PG06
64,65,15,Systems Analyst,65,Systems Analyst IV,8,5,5,6,5,6,7,7,PG08
65,66,15,Systems Analyst,66,Systems Analyst V,10,5,5,6,6,7,8,11,PG10

In [211]:
train_df.columns

Index(['ID', 'JobFamily', 'JobFamilyDescription', 'JobClass',
       'JobClassDescription', 'PayGrade', 'EducationLevel', 'Experience',
       'OrgImpact', 'ProblemSolving', 'Supervision', 'ContactLevel',
       'FinancialBudget', 'PG'],
      dtype='object')

In [212]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66 entries, 0 to 65
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ID                    66 non-null     int64
 1   JobFamily             66 non-null     int64
 2   JobFamilyDescription  66 non-null     object
 3   JobClass              66 non-null     int64
 4   JobClassDescription   66 non-null     object
 5   PayGrade              66 non-null     int64
 6   EducationLevel        66 non-null     int64
 7   Experience            66 non-null     int64
 8   OrgImpact             66 non-null     int64
 9   ProblemSolving        66 non-null     int64
 10  Supervision           66 non-null     int64
 11  ContactLevel          66 non-null     int64
 12  FinancialBudget       66 non-null     int64
 13  PG                    66 non-null     object
dtypes: int64(11), object(3)
memory usage: 7.3+ KB

In [213]:
train_df["JobFamilyDescription"].unique()

array(['Accounting And Finance', 'Administrative Support', 'Baker',
       'Buildings And Facilities', 'Buyer', 'Cashier',
       'Communications And Media', 'Corporate Research',
       'Finance  And Accounting', 'Human Resources', 'Meat Cutter',
       'Produce', 'Secretary', 'Stockkeeping', 'Systems Analyst'],
      dtype=object)

In [214]:
label = LabelEncoder()

a = train_df['JobFamilyDescription'].to_numpy()
b = train_df['JobClassDescription'].to_numpy()
c = train_df['PG'].to_numpy()

train_df.drop(['JobFamilyDescription','JobClassDescription','PG','ID'],axis=1, inplace=True)

train_df['JobFamilyDescription'] = label.fit_transform(a)
train_df['JobClassDescription'] = label.fit_transform(b)
train_df['PG'] = label.fit_transform(c)
train_df

,JobFamily,JobClass,PayGrade,EducationLevel,Experience,OrgImpact,ProblemSolving,Supervision,ContactLevel,FinancialBudget,JobFamilyDescription,JobClassDescription,PG
0,1,1,5,3,1,3,3,4,3,5,0,0,4
1,1,2,6,4,1,5,4,5,7,7,0,1,5
2,1,3,8,4,2,6,5,6,7,10,0,2,7
3,1,4,10,5,5,6,6,7,8,11,0,3,9
4,2,5,1,1,0,1,1,1,1,1,1,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,15,62,3,1,1,1,2,1,1,1,14,61,2
62,15,63,5,4,1,3,3,4,3,4,14,62,4
63,15,64,6,5,2,4,4,5,7,5,14,63,5
64,15,65,8,5,5,6,5,6,7,7,14,64,7
65,15,66,10,5,5,6,6,7,8,11,14,65,9

In [216]:
X_train, X_test, y_train, y_test=train_test_split(train_df,train_df['JobFamilyDescription'],test_size=0.3,random_state=42)

In [217]:
scaler = StandardScaler()

X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)
y_train = y_train.to_numpy()
y_test = y_test.to_numpy()

In [227]:
dct = DecisionTreeClassifier()
dct.fit(X_train,y_train)
print(dct.score(X_train,y_train))
print(dct.score(X_test,y_test))

1.0
0.9